/*
font-family: 'Roboto', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Pacifico', cursive;
*/

/*BODY
font-family: 'Roboto', sans-serif;
font-weight: 100;
font-size: 14px;
*/

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  display: inline-block;
  background-color: #4a494b;
  width: 100%;
  height: 1px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #454546;
}

/*HEADER*/
.header {
  min-height: 100vh;
  background: url("img/header/bg.jpg") center / cover no-repeat fixed;
  color: #fff;
  position: relative;
}

.header__inner {
  padding: 25px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding-left: 30px;
  font-weight: 400;
  font-size: 40px;
}

.header__logo span {
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  color: #1dde85;
}

.header__nav {
  display: flex;
  padding-right: 95px;
}

.nav__link {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  margin-right: 40px;
  padding-bottom: 8px;

  transition-property: color;
  transition-duration: .2s;
}

.nav__link:last-child {
  margin-left: 0;
}

.nav__link:after {
  content: "";
  background-color: #1dde85;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;

  transition-property: opacity;
  transition-duration: .2s;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__link:hover {
  color: #1dde85;
}

.header__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.intro__content {
  text-align: center;
  width: 100%;
  max-width: 950px;
  padding: 0 20px;
  margin: 0 auto;
}

.intro__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 48px;
}

.intro__title span {
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #1dde85;
}

.intro__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  margin-top: 25px;
}


/*SERVICES*/
.services {
  padding: 118px 0 72px;
}

.services__inner {
  text-align: center;
}

.services__title span {
  text-transform: uppercase;
  color: #1dde85;
}

.services__subtitle {
  font-size: 18px;
  margin: 48px auto 80px;
  width: 100%;
  max-width: 950px;
  padding: 0 25px;
  line-height: 1.5;
  color: #8f8e91;
}

.services__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  cursor: pointer;
  width: 31%;
  border: 1px solid #c3c1bf;
  margin-bottom: 48px;
  padding: 33px 15px 28px;
  transform: scale(1, 1);

  transition-property: color, fill, transform;
  transition-duration: .4s;
}

.services__item-title {
  margin: 10px 0 33px;
  font-weight: 500;
  font-size: 24px;
  color: #454546;

  transition-property: color;
  transition-duration: .2s;
}

.services__text {
  color: #8f8e91;
  line-height: 2;
}

.services__item:hover {
  border: 2px solid #1dde85;
  margin-bottom: 47px;
  transform: scale(1.1, 1.1);
}

.services__item:hover:first-child {
  margin-bottom: 46px;
}

.services__item:hover:last-child {
  margin-bottom: 46px;
}

.services__item:hover .services__text {
  color: #515152;
}

.services__item:hover .services__item-title {
  color:  #1dde85;
}

.services__item svg path {
  transition-property: fill;
  transition-duration: .2s;
}

.services__item:hover svg path {
  fill:  #1dde85;
}

/*TEAMS*/
.teams {
  text-align: center;
}

.teams__inner {}

.teams__title {
  margin-bottom: 60px;
}

.teams__content {
  display: flex;
  justify-content: space-between;
}

.teams__item {
  cursor: pointer;
  position: relative;
  width: 25%;
  max-width: 269px;
  height: 355px;
  overflow: hidden;

  transition: all .8s ease;
}

.teams__img img {
  transform: scale(1, 1);

  transition-duration: 16s;
  transition-property: transform;
}

.image2 {
  position: relative;
}

.image2 img {
  position: absolute;
  top: -20px;
  left: -6%;
 /* transform: translateX(-50%);*/
  width: 300px;
}

.teams__description {
  position: absolute;
  bottom: -288px;
  left: 0;
  text-align: center;
  padding: 12px 0 14px;
  width: 100%;
  background-color: #454546;
  color: #fff;
  opacity: .94;
  height: 355px;

  transition: all .6s ease;
}

.teams__description p:first-child {
  font-weight: 400;
  font-size: 18px;
}

.teams__social {
  display: none;
  margin-top: 88px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 8px 0 6px;
}

.teams__social img {
  margin: 0 5px;
}

.teams__item:hover .teams__description {
  background-color: #1dde85;
  opacity: 0.9;
  height: 100%;
  padding-top: 50%;
  bottom: 0;
}

.teams__item:hover .teams__social {
  display: block;
}

.teams__item:hover .teams__img img {
  transform: scale(1.7, 1.7);
}

/*WORKS*/
.works {
  margin-top: 120px;
}

.works__inner {
  text-align: center;
}

.works__title {}

.works__filter {}

.works__filter input {
  display: none;
}

.works__active {
  margin: 48px 0;
}

.works__active label {
  cursor: pointer;
  margin: 0 17px;
  font-weight: 300;
  font-size: 18px;
  color: #434243;
  padding-bottom: 7px;

  transition-property: border-bottom, color;
  transition-duration: .2s;
}

.works__active label:hover {
  border-bottom: 1px solid #1dde85;
  color: #1dde85;
}

#fil_1:checked ~ .works__active label:nth-child(1) {
  border-bottom: 1px solid #1dde85;
  color: #1dde85;
}

#fil_2:checked ~ .works__active label:nth-child(2) {
  border-bottom: 1px solid #1dde85;
  color: #1dde85;
}

#fil_3:checked ~ .works__active label:nth-child(3) {
  border-bottom: 1px solid #1dde85;
  color: #1dde85;
}

#fil_4:checked ~ .works__active label:nth-child(4) {
  border-bottom: 1px solid #1dde85;
  color: #1dde85;
}

#fil_5:checked ~ .works__active label:nth-child(5) {
  border-bottom: 1px solid #1dde85;
  color: #1dde85;
}

.works__content {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  cursor: pointer;
  width: 33.333%;
  margin-bottom: 46px;
}

.works__item img {
  filter: grayscale(1);
  filter: brightness(40%);

  transition: filter .3s linear;
}

.works__item img:hover {
  filter: grayscale(0);
  filter: brightness(100%);
}

.works__btn {
  display: none;
  color: #fff;
  font-size: 18px;
  background-color: #1dde85;
  padding: 17px 60px 14px;
  transform: scale(1, 1);

  transition: transform .3s ease;
}

.works__btn:hover {
  transform: scale(1.1, 1.1);
}

.works__btn2 {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  background-color: #1dde85;
  padding: 17px 60px 14px;


}

.works__btn2:hover {
  animation-name: scale;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes scale {
  0% {
    transform: scale(1, 1);
  }

  12% {
    transform: scale(1.1, 1.1);
  }

  25% {
    transform: scale(1.2, 1.2);
  }

  37% {
    transform: scale(1.05, 1.05);
  }

  50% {
    transform: scale(1.13, 1.13);
  }

  62% {
    transform: scale(1.07, 1.07);
  }

  75% {
    transform: scale(1.12, 1.12);
  }

  87% {
    transform: scale(1.09, 1.09);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}

/*PRICE*/
.price {
  text-align: center;
  padding: 105px 0 127px 0;
  color: #454546;
}

.price__inner {}

.price__title {
  margin-bottom: 50px;
}

.price__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.price__item {
  cursor: pointer;
  width: 25%;
  max-width: 268px;


}

.price__block {
  padding-bottom: 22px;
  border: 1px solid #fff;
}

.price__subtitle {
  margin-bottom: 27px;
  transition: all .2s linear;
}

.price__price {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 400;
  border: 1px solid #454546;
  padding: 12px 0 20px;

  transition: all .2s linear;
}

.price__price sup {
  font-size: 30px;
}

.price__price span {
  font-size: 18px;
  font-weight: 100;
}

.price__text {
  padding: 30px 0 45px;
}

.price__text p {
  padding-bottom: 17px;
}

.price__text p:last-child {
  margin-bottom: 0;
}

.price__btn {
  border: 1px solid #454546;
  padding: 10px 15px;

  transition: all .2s linear;
}

.price__item:hover .price__price {
  background-color: #1dde85;
  border-color: #1dde85;
  color: #fff;
}

.price__item:hover .price__block {
  border: 1px solid #1dde85;
}

.price__item:hover .price__btn {
  background-color: #1dde85;
  border-color: #1dde85;
  color: #fff;
}

.price__item:hover .price__subtitle {
  color: #1dde85;
}


/*CONTACT*/
.contact {
  padding: 30px 0 38px;
  text-align: center;
  color: #fff;
  background: url("img/contacts/bg.jpg") center / cover no-repeat fixed;
}

.contact__inner {}

.contact__title {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contact__form {
  width: 100%;
  max-width: 892px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.contact__form input,
.contact__form textarea {
  font-style: italic;
  background: none;
  border: 1px solid #fff;
  outline: none;

  color: #fff;
}

.contact__form textarea {
  width: 100%;
  margin: 28px 0 30px;
  padding: 16px 0 176px 22px;
}

.contact__form textarea::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

.contact__form input {
  width: 49%;
  padding: 16px 22px;
}

.contact__form input::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
}

button[type = "submit"] {
  cursor: pointer;
  margin: 0 auto;
  background-color: #1dde85;
  color: #fff;
  padding: 16px 38px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}


/*FOOTER*/
.footer {
  background-color: #0b0a0a;
  color: #868588;
  padding: 35px 0 70px;
}

.footer__item {
  width: 33.333%;
}

.footer h3 {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__about {
  flex: 0 1 385px;
  padding: 0 40px;
}

.footer__about p {
  line-height: 25px;

}

.footer__links {
  flex: 1 0 255px;
  padding: 0 40px;
}

.footer__links-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;

  max-width: 190px;

}

.footer__link {
  margin-bottom: 10px;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__contacts {

}

.footer__icons {
  display: flex;
}

.footer__icons-item {
  border: 2px solid #8f8e91;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.footer__icons-item i {

}

.footer__form .footer__btn {
  padding: 12px 16px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-top: 17px;
}


.footer__form .footer__inp {
  background: none;
  border: 1px solid #838484;
  padding: 10px 0 10px 8px;
  width: 100%;
  max-width: 250px;
  color: #fff;
  outline: none;
}

.footer__sub {
  margin-top: 12px;
}

.design-by {
  text-align: center;
  background-color: #000;
  color: #8f8e91;
  padding: 27px 0;
}